<div class="home-page">
  <button id="add-template-button" mat-fab matTooltip="Add Template" (click)="openStepperForm()">
    <mat-icon>add</mat-icon>
  </button>
  <button id="xtract-document-button" color="primary" mat-flat-button *ngIf = "template.docCode.length==0" (click)="openXtractForm()">
    <mat-icon>search</mat-icon> <span style="margin-left:5px; font-size:20px;">Xtract Document</span>
  </button>
  <div class="main-container" *ngIf="template.docCode.length>0">
    <div class="form-marker">
      <mat-list>
        <h4 class="online-form-header" mat-subheader>Insurance Online Form</h4>
        <div *ngFor="let page of pages; let i = index">
            <div class="online-sub-header" mat-subheader>{{page.id}}</div>
            <mat-list-item class="matlist" (click)="highLightArea(i,field)" *ngFor="let field of page.fields">
                <p style="font-size:12px; color: #606060" mat-line> <b>Section: {{field.section}}</b></p>
                <mat-form-field style="margin-top:15px;">
                  <input matInput placeholder="{{field.name}}" [(ngModel)]="field.value">
                </mat-form-field>
            </mat-list-item>
            <mat-divider></mat-divider>
        </div>
      </mat-list>
      <mat-card-actions style="margin-top:20px;">
        <button style="float:right;" color="warn" (click)="export()" mat-button>EXPORT AS JSON?</button>
       <button style="float:left;"   color="primary" (click)="reUpload()"  mat-button>XTRACT NEW DOCUMENT?</button>
     </mat-card-actions>
    </div>
    <div>
      <div class="holder-marker" id="home-image-holder" >
        <canvas id="home-canvas" #homeCanvas></canvas>
      </div>
    </div>
  </div>
</div>
